<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="VitalsDbConnString"
     providerName="System.Data.ProviderName"
     connectionString="Server=(localdb)\Vitals1;Database=VitalsDb;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>