<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="RecordMyStats.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<clear />
		<add name="VitalsDbConnString" providerName="System.Data.ProviderName" connectionString="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
	</connectionStrings>

	<appSettings>
		<!-- Set to true to connect via API, set to false to connect directly to the database (not via a REST middle layer). Use false mainly for dev or debugging. -->
		<add key="UsingRestApi" value="true"></add>
		<!-- If using API for access, set to true to use a local run of the API project (for development).  If false will use the production API on Azure. -->
		<add key="UsingDevLocalApi" value="true"></add>
		<!-- If true will use the local database connection, if false will connect to Azure db.  -->
		<add key="UsingLocalDatabase" value="true"></add>
	</appSettings>

	<userSettings>
		<RecordMyStats.MySettings>
			<setting name="LastUserName" serializeAs="String">
				<value />
			</setting>
			<setting name="LastPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="LastEmail" serializeAs="String">
				<value />
			</setting>
			<setting name="UseLastLogins" serializeAs="String">
				<value>false</value>
			</setting>
		</RecordMyStats.MySettings>
	</userSettings>
</configuration>